/* CSS declarations go here */

.checked{
    text-decoration: line-through;
    color: gray;
}

.remove {
    background: red;
    color:white;
    font-weight: 900;
    float:right;
    margin-right: 50px;
    clear:both;
}

.firstHeader {
    padding: 25px;
    margin-bottom: 25px;
    border: ridge;
}

.subHeader {
    display: inline-block;
    clear: both;
}

.inputSize {
    min-width: 25%;
    width: 300px;
}

.red {
    background: red;
    font-weight: 500;
    font-size: 1.5em;
    color:#ffffff;
}

.yellow {
    background: #ffff00;
    font-weight: 700;
    font-size: 2.5em;
    color: green;
}

.blue {
    background: blue;
    font-weight: 900;
    font-size: 3.5em;
    color: magenta;
}
